<!DOCTYPE html>
 <html>
   <head>
     <meta charset="UTF-8">
     <title>title</title>
   </head>
   <body>
     <h1>Pig Latinizer!</h1>
     <% word = PigLatinizer.new %>
     <p><%=  word.to_pig_latin(params[:user_text]) %></p>
   </body>
 </html>
